<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>姓名案例_methods实现</title>
    <script src="../js/vue.js"></script>
</head>
<body>
        <div id="root">
                姓：<input type="text" v-model="firstName"><br>
                名：<input type="text" v-model="lastName"><br>
                <span>全名：{{fullName}}</span>
            </div>
            <script>
                Vue.config.productionTip = false//阻止vue在启动时生成生产提示

                const vm = new Vue({
                    el:'#root',
                    data:{
                        firstName:'张',
                        lastName:'三'
                    },
                    computed:{
                        fullName:{
                            //get有什么作用？当有人读取fullname的时候，get就会被调用，且返回值被作为fullname的值
                            //get什么时候i调用？1。初次读取fullname时。2.所依赖的数据发生变化时
                            get(){
                                return this.firstName + '-' +this.lastName
                            }
                        }
                    }
                })
                
            </script>
</body>
</html>