<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>Document</title>
   <script src="../js/vue.js"></script>
</head>
<body>
    <div id="root">
        <h2>{{name}}</h2>
        <h2>{{address}}</h2>
        
        <hr>    
        <button @click="addSex">添加性别</button>
        <h2>姓名：{{student.name}}</h2>
        <h2 v-if="student.sex">性别：{{student.sex}}</h2>
        <h2>年龄：{{student.age.rAge}},{{student.age.sAge}}</h2>
        <h2>朋友</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}}-{{f.age}}

            </li>
        </ul>
        <h2>爱好</h2>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
                {{h}}

            </li>
        </ul>
    </div>

    <script>
         Vue.config.productionTip = false

         const vm = new Vue({
             el:'#root',
             data:{
                 name:'liuzhou',
                 address:'guangxi',
                 student:{
                     name:'Tom',
                     age:{
                         rAge:40,
                         sAge:29,
                     },
                     hobby:['抽烟','喝酒','烫头'],
                     friends:[
                         {name:'jerry',age:35},
                         {name:'Bob',age:55},
                     ]
                 }
             },
             methods: {
                 addSex(){
                     Vue.set(this.student,'sex','男')
             },
             }
         })
    </script>
</body>
</html>